@import 'tailwindcss';

@theme {
  --color-finn: #542360;
  --color-champagne: #ffead0;
  --color-rosybrown: #c8a7ad;
  --color-darkpurple: #1a0a24;
}

@layer components {
  button {
    @apply bg-finn cursor-pointer text-champagne shadow-lg hover:shadow-[0_0px_35px_rgba(227,171,206,0.7)] transition-shadow duration-300 m-4 p-1 w-24;
  }
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

html {
  background: linear-gradient(
    to bottom,
    #060010 0%,
    #060010 6%,
    #090016 11%,
    #070016 20%,
    #0a0121 48%,
    #0a0127 55%,
    #0a0129 57%,
    #0c012b 62%,
    #0e0131 68%,
    #0d012f 69%,
    #18023c 78%,
    #19023e 79%,
    #19023e 79%,
    #1c0242 81%,
    #22034b 85%,
    #2e045a 92%,
    #2f045e 96%,
    #340464 98%,
    #370569 100%
  );
  height: 100vh;
  background-repeat: no-repeat;
  background-size: contain;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

input {
  border: 2px solid white;
  border-radius: 6px;
  width: 24rem;
  color: white;
}

select {
  border: 1px solid white;
  border-radius: 6px;
  color: white;
}

button {
  border-radius: 6px;
}


.card {
  perspective: 1000px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-back {
  transform: rotateY(180deg);
}

.star-field {
  /* background-color: #000; */
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden; /* Hide stars outside the view */
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 100px 50px #fff, 250px 120px #fff, 400px 80px #fff,
    /* Add more box-shadow values for more stars */ 550px 200px #fff;
  animation: animStar 50s linear infinite;
  &::after {
    box-shadow: 100px 50px #fff, 250px 120px #fff, 400px 80px #fff,
      /* Add more box-shadow values for more stars */ 550px 200px #fff;
  }
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

